annoy==1.16.3
azure-common==1.1.24
azure-nspkg==3.0.2
azure-storage==0.36.0
boto3==1.12.2
botocore==1.15.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.0
colorama==0.4.3; sys_platform == "win32"
configparser==4.0.2
cryptography==2.8
dill==0.3.1.1
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.15.2
dpu-utils==0.2.8
gitdb2==3.0.2
gitpython==3.0.8
gql==0.2.0
graphql-core==1.1
idna==2.8
jmespath==0.9.4
joblib==0.14.1
loguru==0.3.2
multiprocess==0.70.9
numexpr==2.7.1
numpy==1.18.1
nvidia-ml-py3==7.352.0
pandas==0.25.3
pathos==0.2.5
pathtools==0.1.2
pox==0.2.7
ppft==1.6.6.1
promise==2.3
psutil==5.7.0
pycparser==2.19
pyhocon==0.3.54
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
pyyaml==5.3
regex==2020.2.18
requests==2.22.0
s3transfer==0.3.3
sacremoses==0.0.38
sentencepiece==0.1.85
sentry-sdk==0.14.1
setsimilaritysearch==0.1.7
shortuuid==0.5.0
six==1.14.0
smmap2==2.0.5
subprocess32==3.5.4
tables==3.6.1
tokenizers==0.2.1
torch==1.4.0
tqdm==4.43.0
transformers==2.3.0
urllib3==1.25.8
wandb==0.8.27
watchdog==0.10.2
win32-setctime==1.0.1; sys_platform == "win32"
